* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar,
html::-webkit-scrollbar {
  display: none;
}

html {
  color: rgb(235, 244, 244);
}

body {
  background-color: #0e0e0e;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  /* stretch instead of center */
  gap: 15%;
  width: 100%;
}

section.view1,
section.view2,
section.view3, section.view4 {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  overflow: hidden;
  /* prevent overflow */
}

section.view1 {
  display: flex;
  flex-direction: column;
  color: aliceblue;
  gap: 1rem;
  padding: 1rem;
}
section.view1 img {
  max-width: 100%;
  /* prevent image overflow */
  height: auto;
  display: block;
  border-radius: 5%;
}
section.view1 .bottom {
  padding: 1rem;
  background-color: #212020;
  border-radius: 5%;
}
section.view1 .bottom #studio {
  letter-spacing: 0.2rem;
  color: white;
  font-weight: 100;
  font-size: 1rem;
}
section.view1 p {
  padding: 1rem;
  line-height: 2rem;
  opacity: 0.5;
  font-weight: 100;
  font-size: 1rem;
}
section.view1 h1 {
  font-weight: 350;
  font-size: xxx-large;
  opacity: 0.9;
}
section.view1 .text {
  padding: 1rem;
}
section.view1 #uppercase {
  text-transform: uppercase;
}
section.view1 .paragraph {
  padding: 1rem 0;
}
section.view1 .flex {
  display: flex;
}
section.view1 button {
  color: #212020;
  background-color: #212020;
}
section.view1 #arrow {
  border: 1px solid rgb(84, 84, 84);
  margin-right: 0.3rem;
  border-radius: 50%;
  display: flex;
  height: 20px;
  width: 20px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
section.view1 #ourstory {
  padding-left: 0.3rem;
  font-weight: 300;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  cursor: pointer;
}

section.view2 {
  display: flex;
  padding: 1rem;
  justify-content: space-around;
}
section.view2 .top,
section.view2 .bottom {
  display: flex;
  flex-direction: column;
  width: 100%;
}
section.view2 .top .element,
section.view2 .bottom .element {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1rem;
}
section.view2 .top .element h2,
section.view2 .bottom .element h2 {
  font-size: 3rem;
  font-weight: 300;
}
section.view2 .top .element small,
section.view2 .bottom .element small {
  font-size: 1rem;
  opacity: 0.5;
}

section.view3 {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
section.view3 .top img {
  width: 100%;
  display: block;
  border-radius: 5%;
}
section.view3 .bottom {
  padding: 1rem;
  background-color: #212020;
  border-radius: 5%;
}
section.view3 .bottom #our {
  padding: 1rem;
  letter-spacing: 0.2rem;
  color: white;
  font-weight: 500;
  font-size: 1rem;
  margin: 0 0 8rem 0;
  opacity: 0.5;
}
section.view3 .bottom .bottom > p {
  padding: 1rem;
}
section.view3 .bottom .Para p {
  display: inline;
  margin: 0;
  opacity: 0.7;
  font-weight: 300;
  font-size: 1rem;
}
section.view3 h1 {
  font-weight: 350;
  font-size: xxx-large;
  opacity: 0.9;
  margin-bottom: 1rem;
}
section.view3 .text {
  padding: 1rem;
}
section.view3 #uppercase {
  text-transform: uppercase;
}
section.view3 .paragraph {
  padding: 1rem 0;
}
section.view3 .flex {
  display: flex;
}

section.view4 {
  display: flex;
  flex-direction: column;
  color: aliceblue;
  gap: 1rem;
  padding: 1rem;
}
section.view4 img {
  max-width: 100%;
  /* prevent image overflow */
  height: auto;
  display: block;
  border-radius: 5%;
}
section.view4 .bottom {
  padding: 1rem;
  background-color: #212020;
  border-radius: 5%;
}
section.view4 .bottom #our {
  padding: 1rem;
  letter-spacing: 0.2rem;
  color: white;
  font-weight: 500;
  font-size: 1rem;
  margin: 0 0 8rem 0;
  opacity: 0.5;
}
section.view4 .bottom .bottom > p {
  padding: 1rem;
  line-height: 2rem;
  opacity: 0.5;
  font-weight: 100;
  font-size: 1.5rem;
}
section.view4 .bottom .Para p {
  display: inline;
  margin: 0;
  opacity: 0.7;
  font-weight: 300;
  font-size: 1rem;
}
section.view4 .bottom h1 {
  font-weight: 350;
  font-size: xxx-large;
  opacity: 0.9;
  margin-bottom: 1rem;
}
section.view4 .bottom .text {
  padding: 1rem;
}
section.view4 .bottom #uppercase {
  text-transform: uppercase;
}
section.view4 .bottom .paragraph {
  padding: 1rem 0;
}

@media (min-width: 900px) {
  main section.view1 {
    flex-direction: row;
  }
  main section.view1 .top,
  main section.view1 .bottom {
    width: 50%;
  }
  main section.view1 .bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 3rem;
  }
  main section.view1 .bottom .text {
    gap: 1.5rem;
  }
  main section.view1 .bottom h1 {
    margin-top: -2rem;
    font-size: 3rem;
  }
  main section.view1 .bottom p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
  main section.view2 {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  main section.view2 .top,
  main section.view2 .bottom {
    flex-direction: row;
    width: 50%;
    justify-content: space-around;
    align-items: center;
  }
  main section.view2 .top .element,
  main section.view2 .bottom .element {
    flex: 1;
    text-align: center;
  }
  main section.view3 {
    flex-direction: row;
    gap: 2rem; /* optional spacing between halves */
  }
  main section.view3 .top,
  main section.view3 .bottom {
    width: 50%; /* equal divide */
  }
  main section.view3 .top {
    order: 2;
  }
  main section.view3 .bottom {
    order: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around; /* text ko center align karne ke liye */
  }
  main section.view3 .bottom .Para {
    display: flex;
    gap: 1rem;
  }
  main section.view4 {
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem; /* optional spacing between halves */
  }
  main section.view4 .top,
  main section.view4 .bottom {
    width: 50%; /* equal divide */
  }
  main section.view4 .top {
    order: 1;
  }
  main section.view4 .bottom {
    order: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around; /* text ko center align karne ke liye */
  }
  main section.view4 .bottom .Para {
    display: flex;
    gap: 1rem;
  }
}/*# sourceMappingURL=style.css.map */