* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar,
html::-webkit-scrollbar {
  display: none;
}

html {
  color: rgb(235, 244, 244);
}

body {
  background-color: #0e0e0e;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  /* stretch instead of center */
  gap: 15%;
  width: 100%;
}

section.view1,
section.view2,
section.view3 ,section.view4{
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  overflow: hidden;
  /* prevent overflow */
}

section.view1 {
  display: flex;
  flex-direction: column;
  color: aliceblue;
  gap: 1rem;
  padding: 1rem;

  img {
    max-width: 100%;
    /* prevent image overflow */
    height: auto;
    display: block;
    border-radius: 5%;
  }

  .bottom {
    padding: 1rem;
    background-color: #212020;
    border-radius: 5%;
  }

  #studio {
    letter-spacing: 0.2rem;
    color: white;
    font-weight: 500;
    font-size: 1rem;
  }

  p {
    padding: 1rem;
    line-height: 2rem;
    opacity: 0.5;
    font-weight: 100;
    font-size: 1.5rem;
  }

  h1 {
    font-weight: 350;
    font-size: xxx-large;
    opacity: 0.9;
  }

  .text {
    padding: 1rem;
  }

  #uppercase {
    text-transform: uppercase;
  }

  .paragraph {
    padding: 1rem 0;
  }

  .flex {
    display: flex;
  }

  button {
    color: #212020;
    background-color: #212020;
  }

  #arrow {
    border: 1px solid rgb(84, 84, 84);
    margin-right: 0.3rem;
    border-radius: 50%;
    display: flex;
    height: 20px;
    width: 20px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  #ourstory {
    padding-left: 0.3rem;
    font-weight: 300;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    cursor: pointer;
  }
}

section.view2 {
  display: flex;
  padding: 1rem;
  justify-content: space-around;

  .top,
  .bottom {
    display: flex;
    flex-direction: column;
    width: 100%;

    .element {
      display: flex;
      flex-direction: column;
      text-align: center;
      padding: 1rem;

      h2 {
        font-size: 3rem;
        font-weight: 300;
      }

      small {
        font-size: 1rem;
        opacity: 0.5;
      }
    }
  }
}

section.view3 {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .top img {
    width: 100%;
    display: block;
    border-radius: 5%;
  }

  .bottom {
    padding: 1rem;
    background-color: #212020;
    border-radius: 5%;
  }

  p {
    padding: 1rem;
    line-height: 2rem;
    opacity: 0.5;
    font-weight: 100;
    font-size: 1.5rem;
  }

  h1 {
    font-weight: 350;
    font-size: xxx-large;
    opacity: 0.9;
  }

  .text {
    padding: 1rem;
  }

  #uppercase {
    text-transform: uppercase;
  }

  .paragraph {
    padding: 1rem 0;
  }

  .flex {
    display: flex;
  }
}

section.view4 {
  display: flex;
  flex-direction: column;
  color: aliceblue;
  gap: 1rem;
  padding: 1rem;

  img {
    max-width: 100%;
    /* prevent image overflow */
    height: auto;
    display: block;
    border-radius: 5%;
  }

  .bottom {
    padding: 1rem;
    background-color: #212020;
    border-radius: 5%;
  }

  #studio {
    letter-spacing: 0.2rem;
    color: white;
    font-weight: 500;
    font-size: 1rem;
  }

  p {
    padding: 1rem;
    line-height: 2rem;
    opacity: 0.5;
    font-weight: 100;
    font-size: 1.5rem;
  }

  h1 {
    font-weight: 350;
    font-size: xxx-large;
    opacity: 0.9;
  }

  .text {
    padding: 1rem;
  }

  #uppercase {
    text-transform: uppercase;
  }

  .paragraph {
    padding: 1rem 0;
  }
}


@media (min-width: 900px) {
  main {
    section.view1 {
      flex-direction: row;

      .top,
      .bottom {
        width: 50%;
      }

      .bottom {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 3rem;

        .text {
          gap: 1.5rem;
        }

        h1 {
          margin-top: -2rem;
          font-size: 3rem;
        }

        p {
          font-size: 1.5rem;
          margin-bottom: 2rem;
        }
      }
    }

    section.view2 {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .top,
      .bottom {
        flex-direction: row;
        width: 50%;
        justify-content: space-around;
        align-items: center;

        .element {
          flex: 1;
          text-align: center;
        }
      }
    }

    section.view3 {
      flex-direction: row;
      gap: 2rem; /* optional spacing between halves */

      .top,
      .bottom {
        width: 50%; /* equal divide */
      }
      .top{
        order: 2;
      }
      .bottom {
        order: 1;
        display: flex;
        flex-direction: column;
        justify-content: center; /* text ko center align karne ke liye */
      }
    }
     section.view4 {
      flex-direction: row;
      gap: 2rem; /* optional spacing between halves */

      .top,
      .bottom {
        width: 50%; /* equal divide */
      }
      .top{
        order: 1;
      }
      .bottom {
        order: 2;
        display: flex;
        flex-direction: column;
        justify-content: center; /* text ko center align karne ke liye */
      }
    }
  }
}


